a.profile {
  margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-brand {
  color: #000000;
}

a.nav-item.nav-link.btn.btn-primary.btn-logout {
  color: #fff;
}

.container-fluid {
  margin: 0 11% 0 11%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
