<div class="modal fade modal-dialog modal-dialog-centered" id="addOfferModal" tabindex="-1"
  aria-labelledby="addOfferModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addOfferModal">
          {{ !this.dataApi.selectedOffer.id ? 'New offer' : 'Update offer' }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #offerForm="ngForm" (ngSubmit)="onSaveOffer(offerForm)">
          <input type="hidden" name="id" [(ngModel)]="this.dataApi.selectedOffer.id">
          <input type="hidden" name="userUid" [value]="userUid">
          <div class="mb-3">
            <label for="companyName" class="col-form-label">Company Name</label>
            <input type="text" class="form-control" name="companyName" [value]="companyName" readonly>
          </div>
          <div class="mb-3">
            <label for="title" class="col-form-label">Offer Title</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="this.dataApi.selectedOffer.title">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="startDate" class="col-form-label">Start Date</label>
                <input type="date" class="form-control" name="startDate"
                  [(ngModel)]="this.dataApi.selectedOffer.startDate">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="endDate" class="col-form-label">End Date</label>
                <input type="date" class="form-control" name="endDate" [(ngModel)]="this.dataApi.selectedOffer.endDate">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="salary" class="col-form-label">Salary</label>
                <input type="number" class="form-control" name="salary" placeholder="1.200€"
                  [(ngModel)]="this.dataApi.selectedOffer.salary">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="salaryType" class="col-form-label">Salary Type</label>
                <select name="salaryType" class="form-select" [(ngModel)]="this.dataApi.selectedOffer.salaryType">
                  <option value="Net/month">Net/month</option>
                  <option value="Gross/month">Gross/month</option>
                  <option value="Net/year">Net/year</option>
                  <option value="Gross/year">Gross/year</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Description</label>
            <textarea class="form-control" rows="7" name="description"
              [(ngModel)]="this.dataApi.selectedOffer.description"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" #closeModal class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save offer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>