<section id="offer" class="pt-4">
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-7">
      <div class="card">
        <h3>
          <div class="card-header text-center">{{offer.companyName}}</div>
        </h3>
        <div class="card-body">
          <h5 class="card-title mb-4">{{offer.title}}</h5>
          <span class="h6">Description:</span>
          <p class="card-text">{{offer.description}}</p>
          <p>Contact: {{offer.contact}}</p>
          <h5><span class="badge rounded-pill bg-info text-dark">Salary: {{offer.salary}}€ {{offer.salaryType}}</span>
          </h5>
        </div>
        <div class="card-footer text-center">
          {{offer.startDate}} to {{offer.endDate}}
        </div>
      </div>
    </div>
  </div>
</section>