<section id="login" class="mb-5 mt-5">
  <div class="card col-xs-12 col-sm-6 col-md-4 mx-auto">
    <div class="card-body text-center">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <form #formLogin="ngForm" (submit)="onLogin(formLogin)">
        <div class="alert alert-danger" role="alert" *ngIf="isError">
          Something is wrong!
        </div>
        <div class="mb-3">
          <input type="email" #emailForm="ngModel" id="email" name="email" class="form-control" placeholder="Email"
            [(ngModel)]="email" required />
        </div>
        <div *ngIf="emailForm.touched && !emailForm.valid">
          <div class="alert alert-danger" role="alert" *ngIf="emailForm.errors?.['required']">
            Email is required
          </div>
        </div>
        <div class="mb-3">
          <input type="password" #passForm="ngModel" id="password" name="password" class="form-control" placeholder="Password"
            [(ngModel)]="password" required />
        </div>
        <div *ngIf="passForm.touched && !passForm.valid">
          <div class="alert alert-danger" role="alert" *ngIf="passForm.errors?.['required']">
            Password is required
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-1">Login</button>
        <div class="mb-0">
          <a routerLink="/user/forgot-password" class="form-control login-user">Are you forgot the password?</a>
        </div>
        <div class="mb-3">
          <a routerLink="/user/register" class="form-control login-user">Are you new?</a>
        </div>
        <div>
          <a class="btn btn-block btn-social btn-google" (click)="onLoginGoogle()">
            <i class="fa-brands fa-google"></i>
            Google
          </a>
        </div>
      </form>
    </div>
  </div>
</section>