<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form #formRegister="ngForm" (ngSubmit)="onRegisterUser()">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <div class="alert alert-danger" role="alert">
                  <!-- {{msgError}} -->
                </div>
                <div class="form-group">
                  <input type="name" name="name" class="form-control" placeholder="Name"
                    [(ngModel)]="name" required>
                </div>
                <div class="alert alert-danger" role="alert">
                  <div >Name is required</div>
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Email"
                    [(ngModel)]="email" required>
                </div>
                <div class="alert alert-danger" role="alert">
                  <div >Email is required</div>
                  <div>Email must be at least 8 characters</div>
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="Password"
                    [(ngModel)]="password" required>
                </div>
                <div class="alert alert-danger" role="alert">
                  <div>Password is required</div>
                  <div >Password must be at least 6 characters</div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                <div class="form-group">
                  <a routerLink="/user/login" class="form-control login-user">Do you have account?</a>
                </div>
                <div class="form-group">
                  <a class="btn btn-block btn-social btn-google" (click)="onRegisterGoogle()">
                    <span class="fa fa-google"></span>
                    Google
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>