<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form #formRegister="ngForm" (ngSubmit)="onRegisterUser(formRegister)">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  Something is wrong!
                </div>
                <div class="form-group">
                  <input type="name" #nameForm="ngModel" name="name" class="form-control" placeholder="Name"
                    [(ngModel)]="name" required minlength="1">
                </div>
                <div *ngIf="nameForm.touched && !nameForm.valid">
                  <div class="alert alert-danger" role="alert" *ngIf="nameForm.errors?.['required']">
                    Name is required
                  </div>
                </div>
                <div class="form-check form-switch">
                  <label class="form-check-label" for="switchUser">Are you a company?</label>
                  <input class="form-check-input" type="checkbox" role="switch" name="switchUser" [(ngModel)]="company">
                </div>
                <div class="form-group">
                  <input type="email" #emailForm="ngModel" name="email" class="form-control" placeholder="Email"
                    [(ngModel)]="email" required>
                </div>
                <div *ngIf="emailForm.touched && !emailForm.valid">
                  <div class="alert alert-danger" role="alert" *ngIf="emailForm.errors?.['required']">
                    Email is required
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" #passForm="ngModel" name="password" class="form-control" placeholder="Password"
                    [(ngModel)]="password" required minlength="6">
                </div>
                <div *ngIf="passForm.touched && !passForm.valid">
                  <div class="alert alert-danger" role="alert" *ngIf="emailForm.errors?.['required']">
                    <div *ngIf="passForm.errors?.['required']">Password is required</div>
                    <div *ngIf="passForm.errors?.['minlength']">Password must be at least 6 characters</div>
                  </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                <div class="form-group">
                  <a routerLink="/user/login" class="form-control login-user">Do you have account?</a>
                </div>
                <div class="form-group">
                  <a class="btn btn-block btn-social btn-google" (click)="onRegisterGoogle()">
                    <i class="fa-brands fa-google"></i>
                    Google
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>