<section id="register" class="mb-5 mt-5 col-xs-7 col-sm-10 col-md-7 col-lg-5 col-xl-4 mx-auto">
  <div class="card">
    <div class="card-body text-center">
      <h1 class="h3 mb-3 font-weight-normal">Register</h1>
      <form #formRegister="ngForm" (ngSubmit)="onRegisterUser(formRegister)">
        <div class="alert alert-danger" role="alert" *ngIf="isError">
          Something is wrong!
        </div>
        <div class="mb-3">
          <input type="name" #nameForm="ngModel" name="name" class="form-control" placeholder="Name" [(ngModel)]="name"
            required minlength="1">
        </div>
        <div *ngIf="nameForm.touched && !nameForm.valid">
          <div class="alert alert-danger" role="alert" *ngIf="nameForm.errors?.['required']">
            Name is required
          </div>
        </div>
        <div class="form-switch mb-3">
          <label class="form-check-label" for="switchUser">
            <input class="form-check-input" type="checkbox" role="switch" name="switchUser" placeholder="Hola"
              [(ngModel)]="company">Are you a company?
          </label>
        </div>
        <div class="mb-3">
          <input type="email" #emailForm="ngModel" name="email" class="form-control" placeholder="Email"
            [(ngModel)]="email" required>
        </div>
        <div *ngIf="emailForm.touched && !emailForm.valid">
          <div class="alert alert-danger" role="alert" *ngIf="emailForm.errors?.['required']">
            Email is required
          </div>
        </div>
        <div class="mb-2">
          <input type="password" #passForm="ngModel" name="password" class="form-control" placeholder="Password"
            [(ngModel)]="password" required minlength="6">
        </div>
        <div *ngIf="passForm.touched && !passForm.valid">
          <div class="alert alert-danger" role="alert" *ngIf="emailForm.errors?.['required']">
            <div *ngIf="passForm.errors?.['required']">Password is required</div>
            <div *ngIf="passForm.errors?.['minlength']">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="mb-2">
          <a routerLink="/user/login" class="form-control login-user">Do you have account?</a>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-3 col-12">Register</button>
        <div>
          <a class="btn btn-block btn-social btn-google col-12" (click)="onRegisterGoogle()">
            <i class="fa-brands fa-google mx-1"></i>
            Continue with Google
          </a>
        </div>
      </form>
    </div>
  </div>
</section>