

.toast-top-right {
  top: 72px;
}

.fa-arrow-right-to-bracket,
.fa-user,
.fa-arrow-right-from-bracket,
.fa-envelope,
.fa-list,
.fa-github,
.fa-plus {
  margin-right: 8px;
}

.btn-google {
  background-color: #dd4b39;
  color: white;
}

.btn-google:hover {
  background-color: #bd4232;
  color: white;
}
